html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

main {
  max-width: 650px;
  margin: 40px auto 80px;
}

nav {
  margin-bottom: 50px;
}

nav a {
  padding-right: 20px;
}

.code-title {
  padding: 0.8em 1em;
  background-color: #eee;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 85%;
}

.code-title + pre {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 0px;
}
